@import "../bootstrap-5.3.3/scss/bootstrap.scss";

$fuente-logo: "Pacifico", cursive;
$fuente-pagina: "Open Sans", serif;

$color-primario: #0feb9e; 
$color-secundario: #32b0ee;
$color-destacado: #0eb493;
$color-oscuro: #062033;
$color-texto-blanco: #fff;
$color-fondo-oscuro: #f4f7f9;
$color-gris: #5b646e;

// Tipografías
$font-logo: 28px;
$font-subtexto: 13px;
$font-h1: 62px;
$font-h2: 48px;
$font-h3: 28px;
$font-h4: 20px;
$font-h5: 18px;
$font-h6: 16px;
$font-parrafo: 13px;
$font-boton: 14px;
$font-formulario-grande: 24px;
$font-formulario-mediano: 22px;
$font-light: 300 ;
$font-regular: 400 ;
$font-medium: 500 ;
$font-semibold: 600 ;
$font-bold: 700 ;
$font-extrabold: 800 ;

// variables de texto

h1{
    font-size: 62px;
}
h2{
   font-size: 48px;
} 
h3{
   font-size: 28px;
} 
h4{
   font-size: 20px;
} 
h5{
   font-size: 18px;
} 
h6{
   font-size: 16px;
} 
p{
    font-size: 13px;
}

button{
    font-size: $font-boton;
}

body{
    font-family: $fuente-pagina;
    background-color: $color-texto-blanco;
}

// mixins

@mixin estilo-titulos{
        margin-top: 75px;
        margin-bottom: 35px;
        font-weight: $font-extrabold;
        color: $color-destacado;
        &::after{
            content: url(../img/decorfeatures.png);
            display: block; 
        }
}

@mixin estilo-boton{
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    background-color: $color-texto-blanco;
}

@mixin estilo-boton-activo{
    background-color: $color-destacado;
    color: white;
    border-radius: 5px;
}


// diseño de circulos{
    .circle {
        height: 8px;
        width: 8px;
        border: 1px solid $color-texto-blanco;
        border-radius: 50%;
        display: inline-block;
     }

     .circleactivo {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: $color-texto-blanco;
        display: inline-block;
     }

header{
    background-image: url(../img/rectangleheader.png);
    height: 70px;
    display: flex;
    align-items: center;
}

.imagenheaderbody{
    background-image: url(../img/headerimg.png);
    height: 800px;    
}

.logo{
    display: flex;
    align-items: center;
    h1{
        font-family: $fuente-logo;
        font-size: $font-logo;
        color: $color-texto-blanco;
        margin-bottom: none !important;
    }

    span{
        font-size: $font-h6;
        color: $color-secundario;
        font-weight: $font-light;
        font-family: $fuente-pagina;
    }
    p{
        margin-top: 20px;
        color: $color-gris;
        font-weight: $font-light;
        font-size: $font-parrafo;
    }
}

.nav{
    display: flex;
    gap: 38px;
    align-items: center;
    margin-bottom: 0;
    justify-content: end;
    a{
        text-decoration: none;
        font-size: $font-parrafo;
        font-weight: $font-regular;
        color: $color-texto-blanco;
    }
}

.containermain{
    .textobanner{
        margin-top: 400px;
    }
    .bannermain{ 
        .linksmain{
            margin-top: 100px;
            a{
                margin-right: 15px;
                &:last-child{
                    margin-right: 0px;
                }
            } 

        }
        h1{
            color: $color-texto-blanco;
            font-weight: bold;
            span{
                font-weight: $font-light;
            }
        }
        h2{
            color: $color-texto-blanco;
            font-weight: $font-light;
            span{
                color: $color-primario;
            }
        }
        h5{
            margin-top: 15px;
            color: $color-texto-blanco;
            font-weight: $font-light;
            &::before, &::after{
                content: url(../img/mainheaderdecor.png);
                position: relative;
                margin: 30px;
                bottom: 4px;
            }
        }
    }
}

.colordefondofeatures{
    background-color: $color-fondo-oscuro;
}

.seccionfeatures{
    .circle{
        border: 1px solid $color-oscuro;
    }
    
    .circleactivo{
        background-color: $color-oscuro;
    }
    .cajafeatures{
        padding-left: 70px;
    }
    h3{
        @include estilo-titulos()
    }
    h4{
        font-weight: $font-semibold;
        &.branding{
            &::before{
                position: relative;
                float: inline-end;
                right: 105%;
                content: url(../img/branding.png);
            }
        }
        &.development{
            &::before{
                position: relative;
                float: inline-end;
                right: 105%;
                content: url(../img/development.png);
            }
        }
        &.consulting{
            &::before{
                position: relative;
                float: inline-end;
                right: 105%;
                content: url(../img/consulting.png);
            }
        }
    }
    .circulos{
        display: flex;
        margin-top: 80px;
        gap: 15px;
        margin-bottom: 55px;
    }
}

.seccionworks{
    h5{
        font-weight: $font-semibold;
        width: 70%;
        text-align: center;
        color: $color-oscuro;
        margin-bottom: 45px;
    }
    h3{
        @include estilo-titulos()
    }
    button{
        margin-bottom: 40px;
        &:hover{
            @include estilo-boton-activo()
        }
        @include estilo-boton()
    }
    .boton-activo{
        @include estilo-boton-activo()
    }
    .espaciadobotones{
        gap: 25px;
    }
}

.grid-de-imagenes {
    position: relative;
    .col {
      padding: 0;
      position: relative;
  
      img {
        width: 100%;
        height: 300px;
      }
  
      .contenidohover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: mix(transparent, $color-destacado, 30%); 
        color: $color-texto-blanco;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        transition: opacity 0.3s ease;
        cursor: pointer;
  
        .iconodeojo {
          width: 40px; 
          height: 40px; 
          margin-bottom: 10px;
        }
  
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .seccionteam{
    h3{
        @include estilo-titulos()
    }
   
    h5{
        font-weight: $font-semibold;
        width: 70%;
        text-align: center;
        color: $color-oscuro;
        margin-bottom: 45px;
    }
  }
  
  .teamworker{
    img{
        object-fit: cover;
        height: 300px;
        width: 100%;
    }

    .col-3{
        position: relative;
        .contenidohover {
            text-align: center;
            h6{
                width: 90%;
                &:first-child{
                    font-weight: $font-bold;
                    margin-bottom: 15px;
                }
                &:last-child{
                    font-weight: $font-regular;
                }
            }
            position: absolute;
            top: 0;
            width: 92%;
            height: 300px;
            background-color: mix(transparent, $color-destacado, 30%); 
            color: $color-texto-blanco;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            opacity: 0;
            transition: opacity 0.3s ease;
            cursor: pointer;
            &:hover {
              opacity: 1;
            }
          }
      
         
    }
    .redesosciales{
        margin-top: 65px;
        img{
            height: 41px;
            width: 41px;
            padding: 10px;
            object-fit: contain;
            background-color: mix(transparent, $color-oscuro, 70%); 
        }
    
    }
    .textoteambajoimg{
        margin-top: 20px;
    }

    .circle{
        border: 1px solid $color-oscuro;
    }
    
    .circleactivo{
        background-color: $color-oscuro;
    }

    .circulos{
        display: flex;
        margin-top: 80px;
        gap: 15px;
        margin-bottom: 55px;
    }
}

.background-funfacts{
    background-image: url(../img/funfactsbackground.png);
    height: 600px;
    color: $color-texto-blanco;
    h3{
        @include estilo-titulos();
        &::after{
            content: url(../img/activedecorfeatures.png);
        }
    }
    h1{
        font-weight: $font-semibold;
    }   
    h5{
        font-weight: $font-regular;
    }
    .icono-container {
        border: 1px solid #ffffff50;
        padding: 45px;
        border-radius: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px; 
        height: 130px; 
        margin: 62px auto 30px;
    }
}
  
.secciondiscuss{
    h3{
        @include estilo-titulos()
    }
   
    h5{
        font-weight: $font-semibold;
        width: 70%;
        text-align: center;
        color: $color-oscuro;
        margin-bottom: 45px;
    }
}

.secciondiscuss{
    h2{
        font-size: $font-formulario-mediano;
        color: $color-oscuro !important;
        margin-bottom: 40px !important;
    }
    h2,p,a{
        font-weight: $font-regular;
        text-decoration: none;
        color: $color-gris;
        margin-bottom: 15px;
    }
    h4{
        font-size: $font-formulario-grande;
        font-weight: $font-bold;
        margin-bottom: 40px;
    }
    .form {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid #ddd;
        font-size: 13px;
        font-weight: 400;
        input{
            border: none;
        }
        .placeholder{
            align-items: end;
        }
    }
    
    textarea {
        resize: none;
        border: none;
        
    }

    .inputcortos{
        gap: 30px;
    } 

    .botonformulario {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: transparent;
        color: $color-oscuro;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        &:hover{
            color: $color-destacado;
        }
        &::before{
            position: relative;
            content: url(../img/envelope.png);
            top: 3px;
            right: 5px;
        }
    }
    .formularioredesosciales{
        gap: 5px
    }
}

.mapa{
    margin-top: 100px;
    bottom: 5%;
}

.lineadivisora{
    height: 5px;
    background-color: $color-oscuro;
    bottom: 5px;
}

footer{
    color: $color-texto-blanco;
    height: 400px;
    background-color: $color-destacado;
    .row{
        height: 400px;
    }
    .logo{
        font-family: $fuente-logo;
        font-weight: $font-regular;
        margin-bottom: 45px;
    }
    h6{
        font-size: $font-boton;
        font-weight: $font-bold;
        margin-bottom: 45px;
    }

    .h6lista{
        margin-top: 30px;
        h6{
            margin-bottom: 0px;
        }
    }

    form{
        .formemail{
            height: 42px;
            border: 2px solid $color-texto-blanco;
            background-color: $color-destacado;
            border-radius: 3px;
            width: 16.90%;
            position: absolute;
        }
        button{
            position: relative;
            margin-top: 7px;
            background-color: transparent;
            border: none;
            margin-left: 75%;
            cursor: pointer;
            margin-bottom: 25px;
        }
    }
    .listafooter{
        list-style: none;
        margin-top: 30px;
        margin-bottom: 0px;
        a,p{
            color: $color-texto-blanco;
            text-decoration: none;
            margin-bottom: 15px;
        }
        &:first-child{
            padding-left: 0;
        }
    }
    .textofinalfooter{
        margin-top: 50px;
        p{
            margin-top: 20px;
        }
        a, .copyfg4{
            color: $color-oscuro;
        }
        .copyfg4{
            margin-top: 60px;
        }
    }
}

@media only screen and (max-width: 769px) {     

    .botonhome{
        display: none;
    }

    .cajafeatures{
        margin-bottom: 20px;
    }
    
    .grid-de-imagenes{
        flex-direction: column;
        img{
            object-fit: cover;
        }
    }
    .teamworker{
        flex-direction: column;
        width: 100%;
        img{
            padding: 0xp;
            left: 5px;
        };
    }
    .columnaimg{
        margin-bottom: 50px;
    }

    .background-funfacts{
        height: 100%;
    }
    .funfacts{
        flex-direction: column;
        align-items: center  !important;
        .cupcolumn{
            margin-bottom: 20px;
        }
    }

    .textoleftform{
        flex-direction: column;
        text-align: center;
        align-items: center;
        p{
            font-size: calc($font-parrafo + 3px);
        }
    }
    
    .formularioredesosciales{
        margin-top: 35px;
        flex-direction: row !important;
        justify-content: center;
        img{
            margin-right: 10px;
        }
    }

    footer{
        height: 800px ;
    }

    .logocolumn{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .formemail{
        width: 80% !important;
    }
}

@media only screen and (max-width: 540px) {


}


